Module 2 Python Examples
Evan Mitchell
03/25/2024

Basic Structures
Strings
Special functions
Formatting
Operators

In [1]:
#This is a single line comment
x = 3 #assignment of a variable
x

3

In [2]:
"""Either use
    as multi line
    or description
"""

def my_func(x):
    """Takes an integer x as argument"""
    return x + 2

In [3]:
help(my_func)

Help on function my_func in module __main__:

my_func(x)
    Takes an integer x as argument

Continuation using \ and ()

In [5]:
cont_var = 3 + \
4

cont_var

7

In [7]:
paren_cont = ( 7
             *
             8)
paren_cont

56

Selection/Decision Structures

In [10]:
age = 99
if age < 100:
    print("Not old")

Not old

In [14]:
age = 100
if age < 100:
    print("Not old")
else:
    print("Old")

Old

Nested Ifs

In [ ]:
if age < 100:
    if country == "USA":
        print("USA USA")
    else:
        print("NOT USA")
else:
    if country == "USA":
        print("OK")
        
#Nothing happens in the case age is 100 or greater
# and country is something other than USA

In [15]:
a = 10
b = 10
if b < a:
    print("less than")
elif b == a:
    print("equal to")
else:
    print("greater than")

equal to

In [19]:
#Shorthand syntax
#condition : statement
#true statement : condition : false statement
age = 90
if age < 100: print("not old")

not old

In [20]:
print("not old") if age < 100 else print("old")

not old

In [24]:
x = 9
y = 10
print("equal") if x == y else print("greater") if x > y else print("less than")

less than

Conditional Operators

In [27]:
#equals

if x == y:
    print("equals")
    
#not equal
if x != y:
    print("not equal")

#greater than and less than exclude value on right

#greater than or equal to, less than or equal to include value on right

if x <= y:
    print("less or equal")

not equal
less or equal

Logical Operators AND OR NOT

Expression OPERATOR Expression

AND both expressions MUST return true
OR one or both expressions returns true

In [33]:
x = 10
y = 10

if x <= y and y != x:
    print("And True")

if x <= y or y != x:
    print("Or True")
    
if not x != y:
    print("Hello")

Or True
Hello

STRINGS: Sequences of characters

In [35]:
my_string = "Text of some kind"
my_numString = "3"
my_quotes = 'He said "Hello"'
my_single = "He said 'Single quote'"
x = 3
str(x)

'3'

In [41]:
my_paragraph = "hello \nWelcome to \tSDEV 220"
print(my_paragraph)

hello
Welcome to 	SDEV 220

In [44]:
x = "Hello SDEV" + "220"
x

'Hello SDEV220'

In [47]:
str1 = "hello"
str2 = "world"
print(str1,str2)

hello world

In [50]:
print("Hello " * 5)
print("1" * 10)

Hello Hello Hello Hello Hello
1111111111

In [54]:
print("Hello " + "Goodbye " * 3)
print(("Hello " + "Goodbye ") * 3)

Hello Goodbye Goodbye Goodbye
Hello Goodbye Hello Goodbye Hello Goodbye

In [57]:
str1[0]
#offset/index starts at 0

'h'

In [59]:
str1[-3]

'l'

In [60]:
my_str = "Hello DBMS 110, welcome to week 2"
my_str[:]

'Hello DBMS 110, welcome to week 2'

In [61]:
my_str[1:]

'ello DBMS 110, welcome to week 2'

In [62]:
my_str[:5]

'Hello'

In [63]:
my_str[3:7]

'lo D'

In [69]:
#[start:stop:step]
my_str[::2]

'HloDM 1,wloet ek2'

In [70]:
my_csv = "one,two,three"
my_csv.split(',')

['one', 'two', 'three']

In [71]:
#separator is removed from the strings in the list
my_csv.split('t')

['one,', 'wo,', 'hree']

In [72]:
my_list = ["Hello", "SDEV220","It is week 2"]
' '.join(my_list)

'Hello SDEV220 It is week 2'

In [73]:
#separator does not have to be whitespace or punctuation
'4'.join(my_list)

'Hello4SDEV2204It is week 2'

In [74]:
my_str = "Hello DBMS 110, welcome to week 2"
my_str.replace("DBMS 110","SDEV 220")

'Hello SDEV 220, welcome to week 2'

In [76]:
test_str = "Hello welcome to Hello, this is Hello"
test_str.replace("Hello","Goodbye",2)

'Goodbye welcome to Goodbye, this is Hello'

In [78]:
#strip syntax string.strip([character])
strip_str = "*!!hello*!!"
strip_str.strip("*!")

'hello'

In [79]:
test = "hello"
len(test)

5

In [80]:
test[5]

IndexError: string index out of range

In [84]:
#find returns the starting index of a substring
#return -1 if substring doesn't exist
my_str.find("dBMS")

-1

In [85]:
#index will error if not found
my_str.index("DBMS")

6

In [86]:
my_str.index("dBms")

ValueError: substring not found

In [88]:
#New style formatting
age = 30
name = "Evan"
"Hello {}, you are {} years old".format(name,age)

'Hello Evan, you are 30 years old'

In [90]:
number1 = 4.450000
"Answer is {:.2f}".format(number1)

'Answer is 4.45'

In [93]:
f'Answer is {number1:.1f}'

'Answer is 4.5'

In [94]:
f'Hello {name}, you are {age + 10} years old'

'Hello Evan, you are 40 years old'

In [95]:
#counter controlled while loop
x = 0
while x < 10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [97]:
#Sentinel controlled loop
name = input("Enter a name: ")
while name != "STOP":
    print(name)
    name = input("Enter a name: ")

Enter a name: STOP

In [98]:
while True:
    my_num = int(input("Enter a number: "))
    if my_num == -1:
        break
    print(my_num)

Enter a number: 1
1
Enter a number: 2
2
Enter a number: -11
-11
Enter a number: -1

In [101]:
x = 30
while x > 0:
    if x % 2 == 0:
        x -=1
        continue
    print(x, " is odd")
    x -= 1

29  is odd
27  is odd
25  is odd
23  is odd
21  is odd
19  is odd
17  is odd
15  is odd
13  is odd
11  is odd
9  is odd
7  is odd
5  is odd
3  is odd
1  is odd

In [103]:
#else only happens if break never occurs
my_nums = [1,2,3,4]
i = 0
sum = 0
while i < len(my_nums):
    sum = sum + my_nums[i]
    if sum > 10:
        print(sum,"greater than 10")
        break
    i += 1
else:
    print("Sum never exceeded 10")

15 greater than 10

In [107]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [106]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
for c in my_str:
    print(c)

H
e
l
l
o

D
B
M
S

1
1
0
,

w
e
l
c
o
m
e

t
o

w
e
e
k

2