Module 3 Lecture examples
Evan Mitchell
4/1/2024

Collections, Functions, Classes

In [1]:
my_tuple = (2,4)
my_tuple

(2, 4)

In [2]:
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
string_tuple = ("Hello",)
string_tuple

('Hello',)

In [6]:
type(string_tuple)

tuple

In [7]:
string_tuple2 = ("Hello",) * 3
string_tuple2

('Hello', 'Hello', 'Hello')

In [8]:
my_t = (2,3,4)
x,y,z = my_t
x

2

In [9]:
y

3

In [10]:
#old lame way of swapping
temp = x
x = y
y = temp
print(x,y)

3 2

In [11]:
#swapping with a tuple
var1 = 100
var2 = 200
var1,var2 = (var2,var1)
print(var1,var2)

200 100

In [12]:
my_t[1:]

(3, 4)

Practice Problem:

Create a program to add an item to a tuple
starting = (4,6,2,8,3,1)
Add/Merge a 9 to the end of the tuple.

Second part:
(4,6,2,8,3,1,9)

create 1 large tuple
first 5 elements from above, 15,20,25, first 5 elements from above

(4,6,2,8,3,15,20,25,4,6,2,8,3)

In [16]:
starting = (4,6,2,8,3,1)
result = starting + (9,)
result

(4, 6, 2, 8, 3, 1, 9)

In [17]:
middle = (15,20,25)
total_result = result[:5] + middle + result[:5]
total_result

(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)

Lists

In [24]:
my_list = [1,2,3]
my_list[2]

3

In [25]:
my_list[:2]

[1, 2]

In [26]:
my_list.append(4)

In [27]:
my_list

[1, 2, 3, 4]

In [28]:
my_list.insert(2,7)
my_list

[1, 2, 7, 3, 4]

In [29]:
del my_list[1]
my_list

[1, 7, 3, 4]

In [30]:
my_list.remove(7)
my_list

[1, 3, 4]

In [31]:
my_list[0],my_list[2] = my_list[2],my_list[0]

my_list

[4, 3, 1]

In [32]:
#quick function
def my_func(x,y):
    return x * y

my_func(3,4)

12

Write a function to reverse a list at a specific location
function params: list, start_pos, end_pos, Return the list

[1,2,3,4,5] , 1, 4

[1,5,4,3,2]

1
4
swap the 2 and the 5
start + 1
end - 1
swap 3 and 4
start = end

In [34]:
def reverse_list(lst,start_pos,stop_pos):
    while start_pos < stop_pos:
        lst[start_pos],lst[stop_pos] = lst[stop_pos],lst[start_pos]
        start_pos += 1
        stop_pos -= 1
    return lst

print(reverse_list([1,2,3,4,5],1,4))
print(reverse_list([10,20,30,40,50,60,70,80],2,4))

[1, 5, 4, 3, 2]
[10, 20, 50, 40, 30, 60, 70, 80]

In [35]:
#zip for iteration over multiple lists at the same time
dogs = ['Golden','Lab','Husky','Slinky']
sizes = ['L','L','L','S']
ages = [3,1,2,5]

for dog,size,age in zip(dogs,sizes,ages):
    print(dog,size,age)

Golden L 3
Lab L 1
Husky L 2
Slinky S 5

In [36]:
#list of tuples from zip
list(zip(dogs,sizes,ages))

[('Golden', 'L', 3), ('Lab', 'L', 1), ('Husky', 'L', 2), ('Slinky', 'S', 5)]

In [ ]:
#dictionaries
dct = {
    "Name":"Evan",
    "School":"IvyTech",
    "Grade": 9999999
}