Module 3 Lecture examples
Evan Mitchell
4/1/2024

Collections, Functions, Classes

In [1]:
my_tuple = (2,4)
my_tuple

(2, 4)

In [2]:
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
string_tuple = ("Hello",)
string_tuple

('Hello',)

In [6]:
type(string_tuple)

tuple

In [7]:
string_tuple2 = ("Hello",) * 3
string_tuple2

('Hello', 'Hello', 'Hello')

In [8]:
my_t = (2,3,4)
x,y,z = my_t
x

2

In [9]:
y

3

In [10]:
#old lame way of swapping
temp = x
x = y
y = temp
print(x,y)

3 2

In [11]:
#swapping with a tuple
var1 = 100
var2 = 200
var1,var2 = (var2,var1)
print(var1,var2)

200 100

In [12]:
my_t[1:]

(3, 4)

Practice Problem:

Create a program to add an item to a tuple
starting = (4,6,2,8,3,1)
Add/Merge a 9 to the end of the tuple.

Second part:
(4,6,2,8,3,1,9)

create 1 large tuple
first 5 elements from above, 15,20,25, first 5 elements from above

(4,6,2,8,3,15,20,25,4,6,2,8,3)

In [16]:
starting = (4,6,2,8,3,1)
result = starting + (9,)
result

(4, 6, 2, 8, 3, 1, 9)

In [17]:
middle = (15,20,25)
total_result = result[:5] + middle + result[:5]
total_result

(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)

Lists

In [24]:
my_list = [1,2,3]
my_list[2]

3

In [25]:
my_list[:2]

[1, 2]

In [26]:
my_list.append(4)

In [27]:
my_list

[1, 2, 3, 4]

In [28]:
my_list.insert(2,7)
my_list

[1, 2, 7, 3, 4]

In [29]:
del my_list[1]
my_list

[1, 7, 3, 4]

In [30]:
my_list.remove(7)
my_list

[1, 3, 4]

In [31]:
my_list[0],my_list[2] = my_list[2],my_list[0]

my_list

[4, 3, 1]

12

Write a function to reverse a list at a specific location
function params: list, start_pos, end_pos, Return the list

[1,2,3,4,5] , 1, 4

[1,5,4,3,2]

1
4
swap the 2 and the 5
start + 1
end - 1
swap 3 and 4
start = end

In [34]:
def reverse_list(lst,start_pos,stop_pos):
    while start_pos < stop_pos:
        lst[start_pos],lst[stop_pos] = lst[stop_pos],lst[start_pos]
        start_pos += 1
        stop_pos -= 1
    return lst

print(reverse_list([1,2,3,4,5],1,4))
print(reverse_list([10,20,30,40,50,60,70,80],2,4))

[1, 5, 4, 3, 2]
[10, 20, 50, 40, 30, 60, 70, 80]

In [35]:
#zip for iteration over multiple lists at the same time
dogs = ['Golden','Lab','Husky','Slinky']
sizes = ['L','L','L','S']
ages = [3,1,2,5]

for dog,size,age in zip(dogs,sizes,ages):
    print(dog,size,age)

Golden L 3
Lab L 1
Husky L 2
Slinky S 5

In [36]:
#list of tuples from zip
list(zip(dogs,sizes,ages))

[('Golden', 'L', 3), ('Lab', 'L', 1), ('Husky', 'L', 2), ('Slinky', 'S', 5)]

In [45]:
#dictionaries
dct = {
    "Name":"Evan",
    "School":"IvyTech",
    "Grade": 9999999,
    "Name" : "Hello"
}

In [46]:
dct["Name"]

'Hello'

In [47]:
dct["Name"] = "Nick"
dct["City"] = "Bloomington"

In [48]:
dct

{'Name': 'Nick', 'School': 'IvyTech', 'Grade': 9999999, 'City': 'Bloomington'}

In [65]:
#Dictionary combination **
d1 = {'1':'SDEV 120'}
d2 = {'2':'SDEV 140'}
d3 = {'3':'SDEV 220'}

merged = {**d1,**d2,**d3}
merged

{'1': 'SDEV 120', '2': 'SDEV 140', '3': 'SDEV 220'}

In [49]:
my_list = [1,2,3]
my_copy = my_list
my_copy

[1, 2, 3]

In [50]:
my_list[0] = 5
my_copy

[5, 2, 3]

In [53]:
import copy
my_copy = copy.copy(my_list)

In [56]:
my_list[0] = 1
my_list

[1, 2, 3]

In [57]:
my_copy

[5, 2, 3]

In [58]:
compound = [1,2,[3,4],5]
shallow = copy.copy(compound)
compound[2].append(6)
compound

[1, 2, [3, 4, 6], 5]

In [59]:
shallow

[1, 2, [3, 4, 6], 5]

In [60]:
deep = copy.deepcopy(compound)
compound[2].append(7)
compound

[1, 2, [3, 4, 6, 7], 5]

In [61]:
shallow

[1, 2, [3, 4, 6, 7], 5]

In [62]:
deep

[1, 2, [3, 4, 6], 5]

In [67]:
#Sets
my_set = {1,2,3}
my_set

{1, 2, 3}

In [68]:
my_set.add(5)
my_set.remove(1)

In [69]:
my_set

{2, 3, 5}

In [70]:
for item in my_set:
    print(item)

2
3
5

In [71]:
Pizzas = {
    'Chicken Bacon':{'Chicken','BBQ','Bacon','Onion'},
    'Meat Lovers':{'Bacon','Pepp','Sausage','Ham'},
    'Veggie':{'Mushroom','Onion','Tomato','Olives'}
}

for name,ingredients in Pizzas.items():
    if 'Bacon' in ingredients:
        print(name)

Chicken Bacon
Meat Lovers

In [72]:
#using & operator for set intersection
#as long as one of the ingredients matches
#the second set, return true
for name,ingredients in Pizzas.items():
    if ingredients & {'BBQ','Olives'}:
        print(name)

Chicken Bacon
Veggie

In [ ]:
#quick function
def my_func(x,y):
    return x * y

my_func(3,4)

In [76]:
def my_range(high,low = 0):
    for i in range(low,high):
        print(i)
    return

my_range(10,2)

2
3
4
5
6
7
8
9

In [77]:
#variable number of arguments passed.
def sum_of_some(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

sum_of_some(3,6,9)

18

In [78]:
sum_of_some()

0

In [79]:
sum_of_some(1,2,3,4,5,6,7,8,9,10)

55

In [80]:
#**keyword arguments
def key_args(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

key_args(name="Evan",school="Ivy Tech",age=30)

name Evan
school Ivy Tech
age 30

In [81]:
#pass a function
def say_hello():
    print("Hello")
    return

def run_another(func):
    func()
    
run_another(say_hello)

Hello

In [82]:
def outer(x,y):
    def inner(i,j):
        for m in range(i,j):
            print(m)
        return
    return inner(x,y)

outer(4,7)

4
5
6

In [83]:
x = lambda a: a + 10
x(4)

14

In [84]:
x = lambda a: [print(i) for i in a]

x([1,2,3,4])

1
2
3
4

[None, None, None, None]

In [85]:
#Map function takes function and iterable and returns a new iterable with the function applied to every element of the original

nums = (1,2,3,4,5)
tripled = map(lambda a : a * 3,nums)
print(list(tripled))

[3, 6, 9, 12, 15]

In [86]:
my_tuples = [('SDEV 120',30),('IOL 220',57),('SDEV 220',10)]
my_tuples.sort(key=lambda x:x[1])

In [87]:
my_tuples

[('SDEV 220', 10), ('SDEV 120', 30), ('IOL 220', 57)]

In [88]:
#Classes

class Instructor:
    name="Evan"

me = Instructor()
print(me.name)

Evan

In [91]:
#Disc golf disc class
class Disc:
    def __init__(self,name,manu,speed):
        self.disc_name = name
        self.manufacturer = manu
        self.speed = speed
    def throw(self):
        return self.speed * 12
    
d1 = Disc('Luna','Discraft',3)

print(d1.disc_name)
print(d1.throw())

Luna
36